:root {
  --test-color: red;
  --small-screen-size: 690px;
  --padding-from-left-main: 1.8rem;
  --padding-from-right-main: 1.8rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "playfair";
  src: url("../public/Playfair_Display/PlayfairDisplay.ttf");
}